.new-goal {
    text-align: center;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: column;
}

.new-goal input {
    padding: 1vh;
    border-radius: 6px;
    border: 1px solid aquamarine;
}

.new-goal button {
    padding: 1vh;
    align-self: center;
    background: linear-gradient(135deg, aquamarine, #10808a);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    width: fit-content;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1rem;
}