.goal-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 2rem 0;
    padding: 0;
}

.goal-list li {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    border: 1px solid aquamarine;
    border-radius: 6px;
    padding: 1rem;
}